.home-light-main-container {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
}

.home-dark-main-container {
  background-color: #181818;
  display: flex;
  flex-direction: row;
}

.videos-container {
  display: flex;
  flex-direction: column;
}

.banner-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  background-size: cover;
  width: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.light-text {
  color: #181818;
  font-family: Roboto;
}

.dark-text {
  color: #f9f9f9;
  font-family: Roboto;
}
